[Unit]
Description=Мониторинг транспорта накладных

[Timer]
OnBootSec=1min
OnUnitActiveSec=3hours
Persistent=true
Unit=transport.service

[Install]
WantedBy=default.target